.title {
  font-family: 'Cardo', serif;
  font-size: 2em;
}
.pokemons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 80%;
  margin: auto;
}
.subtitle {
  color: rgb(121, 125, 127);
  font-size: 20px;
}
@media(max-width: 769px) {
  .pokemons-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}